<nav>
  <div class="navBoardContainer">
      <div class="navContainer">
        <div class="imageContainer"><img src="assets/img/LogoGTT.jpg" ></div>
        <div class="loginRegisterContainer"> 
          <form>
            <div class="inner-form">
              <div class="input-field first-wrap">
                <div class="input-select">
                        <select data-trigger="" name="choices-single-defaul">
                          <option placeholder="">Mostrar todos</option>
                          <option>Ordenar por fecha</option>
                          <option>Ordenar por organismo</option>
                        </select>
                        <!-- <input  id="chooseFile" type="file" accept=".p12" (change)="changeListener($event)"> -->
                        <input id="logOut" type="submit" value="salir" routerLink="/login"/>
                </div>
              </div>
              <div class="input-field third-wrap"></div>
            </div>
          </form>
        </div>
      </div>
  </div>
</nav>
