.sectionCertificate{
    background-color: azure;
    border: 1px rgb(122, 147, 226) solid;
    border-radius: 0.3em;
    margin : 10px;
    padding: 10px;
    min-width: 700px;
    min-height: 200px;
}
.campo{
    border: rgb(86, 224, 93) 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    background-color: rgb(194, 235, 196);
}
#certificateJira{
    border: none;
    border-radius: 5px;
    background: rgb(86, 224, 93);
    color: white;
    font-size: 1em;
    margin-top: 5px;
    padding: 5px;
}
.material-icons{
    color: rgb(86, 224, 93);
    font-size: 2.5em;
}