.sectionCertificate{
    background-color: azure;
    border: 1px rgb(122, 147, 226) solid;
    border-radius: 0.3em;
    margin : 10px;
    padding: 10px;
    min-width: 300px;
    min-height: 200px;
}
article{
    border: rgb(86, 224, 93) 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    background-color: rgb(194, 235, 196);
}