<section class="sectionCertificate">
  <article>Nº Serie: {{certificate.serialNumber}}</article>
  <article>Subject: {{certificate.subject}}</article>
  <article>Fecha de caducidad: {{certificate.notAfer}}</article>
  <article>Issuer: {{certificate.issuer}}</article>
  <article>Cliente: {{certificate.clientName}}</article>
  <article>Contacto: {{certificate.contactUser}}</article>
  <article>Repositorio: {{certificate.repository}}</article>
  <article>Observaciones: {{certificate.observations}}</article>
</section>
